@import '../../styles/colors.scss';

.c-welcome__form {
  position: relative;
}

.c-welcome__error {
  display: block;
  position: absolute;
  width: 100%;
  font-size: .8rem;
  color: $red;
  top: 0;

  @media (min-width: 768px) {
    top: -1.5rem;
  }
}

.c-welcome__input {
  border: 1px solid $grey;
  border-radius: .3rem;
  font-size: 1rem;
  color: $black;
  padding: 1rem .8rem;
  min-width: 300px;
  margin-top: 3.5rem;

  &::placeholder {
    color: $black;
  }

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

